:root {
    --color-primary: #3b2365;
    --color-primary-light: #5c3d91;
    --color-accent: #7f5fcf;
    --color-accent-light: #a48fe5;
    --background-main: #1b1129;
    --background-card: #27163d;
    --text-main: #e6e0f2;
    --text-title: #cbb9ec;
    --text-highlight: #a48fe5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-accent), var(--color-primary));

    color: var(--text-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--text-title);
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
    color: var(--text-highlight);
}

.card {
    background-color: var(--background-card);
    border-radius: 8px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5), 0px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 300px;
}

.conta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

h3 {
    font-size: 2em;
    margin: 0 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    background-color: #2f1d48;
    border: 1px solid var(--color-primary-light);
    color: var(--text-main);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1em;
}

.comecar {
    margin-bottom: 10px;
}

button {
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-primary-light);
}

button:focus {
    outline: none;
}

#Mandar {
    margin-top: 20px;
    font-weight: bold;
}

.instrucoes {
    background-color: var(--text-highlight);
    color: black;
}

.modal {
    background-color: var(--background-card);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, .4);
    display: none;
    position: absolute;
    height: 500px;
    text-align: left;
    z-index: 99;
}

.modal p {
    padding: .5rem;
    font-size: 14pt;
}

.modal button {
    display: block;
    margin: auto;
    margin-top: 5rem
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 98;
}